body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background: #EEE4DA;
    width: 400px;
    padding: 10px;
}

hr {
    max-width: 100%;
    margin: 10px auto;
}

#board {
    width: 90vmin;
    height: 90vmin;
    max-width: 375px;
    max-height: 375px;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.tile {
    width: 22%;
    height: 22%;
    margin: 1%;
    border: 5px solid #bbada0;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Controls */
.controls {
    margin-top: 20px;
}

.controls button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: #8f7a66;
    color: white;
    cursor: pointer;
}

.controls button:hover {
    background-color: #a68c7d;
}

/* Tile colors */
.x2 { background-color: #eee4da; color: #727371; }
.x4 { background-color: #ece0ca; color: #727371; }
.x8 { background-color: #f4b17a; color: white; }
.x16 { background-color: #f59575; color: white; }
.x32 { background-color: #f57c5f; color: white; }
.x64 { background-color: #f65d3b; color: white; }
.x128 { background-color: #edce71; color: white; }
.x256 { background-color: #edcc63; color: white; }
.x512 { background-color: #edc651; color: white; }
.x1024 { background-color: #eec744; color: white; }
.x2048 { background-color: #ecc230; color: white; }
.x4096 { background-color: #fe3d3d; color: white; }
.x8192 { background-color: #ff2020; color: white; }
